[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-stubs = "*"
drf-spectacular = "*"
#drf-spectacular-sidecar = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
#python_version = "3.11"
